<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>贵美商品分类</title>
</head>
<body>
<img src="img/list_bg.gif" width="977" height="31" alt="电子产品" />
<table border="0" width="977">
    <tr>
        <td width="43">   </td>
        <td width="441"><h4><div align="center">商品图片</h4></td>
        <td width="368"><h4><div align="center"> 商品名称/卖家</h4></td>
        <td width="107"><h4><div align="center">价格</h4></td>
    </tr>
    <tr >
        <td scope="row" height="10"><input type="checkbox" name="chose" /></td>
        <td><div align="center">
            <img src="img/list0.jpg" width="120" height="120" alt="lingtrue" /></td>
        <td><div align="center">
            <p>三国群英会免费区</p>
            <p>卖家：lingture</p>
            <p><img src="img/online_pic.gif" width="77" height="19" alt="和我联系" />&nbsp;&nbsp;<img src="img/list_tool_fav1.gif" width="11" height="12" alt="收藏" />收藏</p>
        </div></td>
        <td><div align="center"><p>一口价</p>
            <p>283.3</p>
        </div></td>
    </tr>
    <tr>
        <td scope="row" height="10"><input type="checkbox" name="chose" /></td>
        <td><div align="center"><img src="img/list1.jpg" width="100" height="103" alt="蓝天" /></td>
        <td><div align="center">
            <p>HDMI促销活动</p>
            <p>卖家：蓝天</p>
            <p><img src="img/online_pic.gif" width="77" height="19" alt="和我联系" /> <img src="img/list_tool_fav1.gif" width="11" height="12" alt="收藏" />收藏</p>
        </div></td>
        <td><div align="center"><p>一口价</p>
            <p>254</p>
        </div></td>
    </tr>
    <tr>
        <td scope="row" height="10"><input type="checkbox" name="chose" /></td>
        <td><div align="center"><img src="img/list2.jpg" width="128" height="118" alt="白云" /></td>
        <td ><div align="center">
            <p>精美液晶电视</p>
            <p>卖家：白云</p>
            <p><img src="img/online_pic.gif" width="77" height="19" alt="和我联系" /> <img src="img/list_tool_fav1.gif" width="11" height="12" alt="收藏" />收藏</p>

        </div></td>
        <td><div align="center"><p>一口价</p>
            <p>2800</p>
        </div></td>
    </tr>
</table>
</body>
</html>
